body {
  background-color: #3F51B5;
  color: white;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
  margin: 10px;
  display: block;
  width: 100%;
}

.left{
  float: left;
}

.right{
  float: right;
}

.app {
  margin: 10px 0px;
  display:block;

  > div {
    float: left;
  }
}

.white-box{
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;
}

#lightning{
  position:absolute;
  bottom: 0;
  left: 0;
}
/*
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
*/