body {
  background-color: #3F51B5;
  color: white;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
  margin: 10px;
  display: block;
  width: 100%;
}

.left{
  float: left;
}

.right{
  float: right;
}

.container {
  margin: 10px 0px;
  display:block;

  > div {
    float: left;
  }
}

.white-box{
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;
}

.upload-box{
  margin: auto;
  width: 600px;
  height: 600px;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
}

.upload-box::after {
  content: "";
  opacity: 0.2;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(/assets/imgs/upload.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
*/